<h2><%= @sport.name %>: <%= @league.name %></h2>

<%= link_to "Edit", edit_sport_league_path(@sport, @league) %>
<%= link_to "Delete", sport_league_path(@sport, @league), method: :delete, data: {confirm: "Are you sure?"} %>
